# STEP 1: Mount the AWS S3 Bucket named "my-databricks-project" to the Databricks with the access key and secret access key.

In [0]:
ACCESS_KEY = ""      #fill out the saved access key 
SECRET_KEY = ""      #fill out the saved secret access key
ENCODED_SECRET_KEY = SECRET_KEY.replace("/", "%2F")

AWS_BUCKET_NAME = "my-databricks-project"
MOUNT_NAME = "/mnt/dataco_smart_supply"

dbutils.fs.mount(
  source = f"s3a://{ACCESS_KEY}:{ENCODED_SECRET_KEY}@{AWS_BUCKET_NAME}",
  mount_point = MOUNT_NAME
)

### Verify Mounting of AWS S3 Bucket

In [0]:
display(dbutils.fs.ls("/mnt/dataco_smart_supply"))

path,name,size,modificationTime
dbfs:/mnt/dataco_smart_supply/DataCoSupplyChainDataset.csv,DataCoSupplyChainDataset.csv,95910149,1741358507000

### Read the dataset from the AWS S3 Blob Storage

In [0]:
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/mnt/dataco_smart_supply/DataCoSupplyChainDataset.csv")

# Show Dataset Sample
df.show(5)

+--------+------------------------+-----------------------------+-----------------+------------------+----------------+------------------+-----------+--------------+-------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+-----------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+---------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+--------------------------+--------------+
|    Type|Days for shipping (real)|Days for shipment (scheduled)|Benefit per order|Sales per customer| Delivery Status|Late_delivery_risk|Category Id| Category Name|Customer City|Customer Country|Customer Email|Customer Fname|Customer Id|Customer Lname|Customer Password|Customer Segment|Customer State|     Customer Street|Customer Zipcode|Department Id|Department Name|   Latitude|   Longitude|      Market|Order City|Order Country|Order Customer Id|order date (DateOrders)|Order Id|Order Item Cardprod Id|Order Item Discount|Order Item Discount Rate|Order Item Id|Order Item Product Price|Order Item Profit Ratio|Order Item Quantity| Sales|Order Item Total|Order Profit Per Order|  Order Region|    Order State|   Order Status|Order Zipcode|Product Card Id|Product Category Id|Product Description|       Product Image|Product Name|Product Price|Product Status|shipping date (DateOrders)| Shipping Mode|
+--------+------------------------+-----------------------------+-----------------+------------------+----------------+------------------+-----------+--------------+-------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+-----------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+---------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+--------------------------+--------------+
|   DEBIT|                       3|                            4|            91.25|       314.6400146|Advance shipping|                 0|         73|Sporting Goods|       Caguas|     Puerto Rico|     XXXXXXXXX|         Cally|      20755|      Holloway|        XXXXXXXXX|        Consumer|            PR|5365 Noble Nectar...|             725|            2|        Fitness| 18.2514534|-66.03705597|Pacific Asia|    Bekasi|    Indonesia|            20755|        1/31/2018 22:56|   77202|                  1360|        13.10999966|             0.039999999|       180517|                  327.75|            0.289999992|                  1|327.75|     314.6400146|                 91.25|Southeast Asia|Java Occidental|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            2/3/2018 22:56|Standard Class|
|TRANSFER|                       5|                            4|     -249.0899963|       311.3599854|   Late delivery|                 1|         73|Sporting Goods|       Caguas|     Puerto Rico|     XXXXXXXXX|         Irene|      19492|          Luna|        XXXXXXXXX|        Consumer|            PR|    2679 Rustic Loop|             725|            2|        Fitness|18.27945137| -66.0370636|Pacific Asia|   Bikaner|        India|            19492|        1/13/2018 12:27|   75939|                  1360|        16.38999939|             0.050000001|       179254|                  327.75|           -0.800000012|                  1|327.75|     311.3599854|          -249.0899963|    South Asia|       Rajastï¿½n|        PENDING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/18/2018 12:27|Standard Class|
|    CASH|                       4|                            4|     -247.7799988|       309.7200012|Shipping on time|                 0|         73|Sporting Goods|     San Jose|         EE. UU.|     XXXXXXXXX|       Gillian|      19491|     Maldonado|        XXXXXXXXX|        Consumer|            CA|8510 Round Bear Gate|           95125|            2|        Fitness|37.29223251| -121.881279|Pacific Asia|   Bikaner|        India|            19491|        1/13/2018 12:06|   75938|                  1360|        18.03000069|             0.059999999|       179253|                  327.75|           -0.800000012|                  1|327.75|     309.7200012|          -247.7799988|    South Asia|       Rajastï¿½n|         CLOSED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/17/2018 12:06|Standard Class|
|   DEBIT|                       3|                            4|      22.86000061|       304.8099976|Advance shipping|                 0|         73|Sporting Goods|  Los Angeles|         EE. UU.|     XXXXXXXXX|          Tana|      19490|          Tate|        XXXXXXXXX|     Home Office|            CA|     3200 Amber Bend|           90027|            2|        Fitness|34.12594605|-118.2910156|Pacific Asia|Townsville|    Australia|            19490|        1/13/2018 11:45|   75937|                  1360|        22.94000053|                    0.07|       179252|                  327.75|            0.079999998|                  1|327.75|     304.8099976|           22.86000061|       Oceania|     Queensland|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/16/2018 11:45|Standard Class|
| PAYMENT|                       2|                            4|      134.2100067|            298.25|Advance shipping|                 0|         73|Sporting Goods|       Caguas|     Puerto Rico|     XXXXXXXXX|          Orli|      19489|     Hendricks|        XXXXXXXXX|       Corporate|            PR|8671 Iron Anchor ...|             725|            2|        Fitness|18.25376892|-66.03704834|Pacific Asia|Townsville|    Australia|            19489|        1/13/2018 11:24|   75936|                  1360|               29.5|             0.090000004|       179251|                  327.75|            0.449999988|                  1|327.75|          298.25|           134.2100067|       Oceania|     Queensland|PENDING_PAYMENT|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/15/2018 11:24|Standard Class|
+--------+------------------------+-----------------------------+-----------------+------------------+----------------+------------------+-----------+--------------+-------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+-----------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+---------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+--------------------------+--------------+
only showing top 5 rows

### Check the Names of the columns in the dataset along with their stored datatype

In [0]:
df.printSchema()

root
 |-- Type: string (nullable = true)
 |-- Days for shipping (real): integer (nullable = true)
 |-- Days for shipment (scheduled): integer (nullable = true)
 |-- Benefit per order: double (nullable = true)
 |-- Sales per customer: double (nullable = true)
 |-- Delivery Status: string (nullable = true)
 |-- Late_delivery_risk: integer (nullable = true)
 |-- Category Id: integer (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Customer City: string (nullable = true)
 |-- Customer Country: string (nullable = true)
 |-- Customer Email: string (nullable = true)
 |-- Customer Fname: string (nullable = true)
 |-- Customer Id: integer (nullable = true)
 |-- Customer Lname: string (nullable = true)
 |-- Customer Password: string (nullable = true)
 |-- Customer Segment: string (nullable = true)
 |-- Customer State: string (nullable = true)
 |-- Customer Street: string (nullable = true)
 |-- Customer Zipcode: integer (nullable = true)
 |-- Department Id: integer (nullable = true)
 |-- Department Name: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- Order City: string (nullable = true)
 |-- Order Country: string (nullable = true)
 |-- Order Customer Id: integer (nullable = true)
 |-- order date (DateOrders): string (nullable = true)
 |-- Order Id: integer (nullable = true)
 |-- Order Item Cardprod Id: integer (nullable = true)
 |-- Order Item Discount: double (nullable = true)
 |-- Order Item Discount Rate: double (nullable = true)
 |-- Order Item Id: integer (nullable = true)
 |-- Order Item Product Price: double (nullable = true)
 |-- Order Item Profit Ratio: double (nullable = true)
 |-- Order Item Quantity: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Order Item Total: double (nullable = true)
 |-- Order Profit Per Order: double (nullable = true)
 |-- Order Region: string (nullable = true)
 |-- Order State: string (nullable = true)
 |-- Order Status: string (nullable = true)
 |-- Order Zipcode: integer (nullable = true)
 |-- Product Card Id: integer (nullable = true)
 |-- Product Category Id: integer (nullable = true)
 |-- Product Description: string (nullable = true)
 |-- Product Image: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Product Status: integer (nullable = true)
 |-- shipping date (DateOrders): string (nullable = true)
 |-- Shipping Mode: string (nullable = true)

## STEP 2: Data Cleaning

### Remove Missing Values

In [0]:
df_clean = df.na.drop()

### Remove Duplicate Rows

In [0]:
df_clean = df_clean.dropDuplicates()

### Convert Date Columns to Proper Format

In [0]:
from pyspark.sql.functions import to_date

df_clean = df_clean.withColumn("order date (DateOrders)", to_date(df_clean["order date (DateOrders)"], "yyyy-MM-dd"))
df_clean = df_clean.withColumn("shipping date (DateOrders)", to_date(df_clean["shipping date (DateOrders)"], "yyyy-MM-dd"))

## STEP 3: Data Transformation for the Meaningful Insights

### Top 10 Product Categories

In [0]:
from pyspark.sql.functions import col, sum

top_categories = df.groupBy("Category Name") \
                   .agg(sum("Sales").alias("Total_Sales")) \
                   .orderBy(col("Total_Sales").desc()) \
                   .limit(10)

top_categories.show()

+--------------------+------------------+
|       Category Name|       Total_Sales|
+--------------------+------------------+
|             Fishing| 6929653.690574931|
|              Cleats| 4431942.783185065|
|    Camping & Hiking| 4118425.571018985|
|    Cardio Equipment|3694843.1966299606|
|     Women's Apparel|         3147800.0|
|        Water Sports| 3113844.684857893|
|      Men's Footwear|2891757.6623528693|
|Indoor/Outdoor Games|2888993.9135054224|
|       Shop By Sport|1309522.0414546824|
|           Computers|          663000.0|
+--------------------+------------------+

### Top 10 Most Frequent Customers

In [0]:
from pyspark.sql.functions import count

top_customers = df.groupBy("Customer Fname", "Customer Lname") \
                  .agg(count("Order Id").alias("Total_Orders")) \
                  .orderBy(col("Total_Orders").desc()) \
                  .limit(10)

top_customers.show()

+--------------+--------------+------------+
|Customer Fname|Customer Lname|Total_Orders|
+--------------+--------------+------------+
|          Mary|         Smith|       23884|
|        Robert|         Smith|         744|
|         James|         Smith|         726|
|         David|         Smith|         723|
|          John|         Smith|         645|
|       William|         Smith|         525|
|     Elizabeth|         Smith|         476|
|          Mary|         Jones|         465|
|       Michael|         Smith|         460|
|   Christopher|         Smith|         428|
+--------------+--------------+------------+

### Delivery Performance Analysis (Delay V/S Average Profit Per Order)

In [0]:
from pyspark.sql.functions import col, when

df = df.withColumn("Delay", col("Days for shipping (real)") - col("Days for shipment (scheduled)"))

# Analyzing the impact of delay on profitability
delay_profit_analysis = df.groupBy("Delay") \
    .agg({"Order Profit Per Order": "avg"}) \
    .orderBy(col("avg(Order Profit Per Order)").desc())

delay_profit_analysis.show()

+-----+---------------------------+
|Delay|avg(Order Profit Per Order)|
+-----+---------------------------+
|   -2|          23.42352811273813|
|    0|          22.53202148402705|
|    1|         21.940581587680732|
|    4|          21.56120150330889|
|   -1|          21.51699729013785|
|    2|          21.24623859510574|
|    3|         19.941130174914466|
+-----+---------------------------+

## STEP 4: MYSQL Server JDBC Connection and storing dataframes

### Connect the Databricks notebook with the MYSQL username and password

In [0]:
# MySQL Connection Configuration
jdbc_url = "jdbc:mysql://localhost:3306/dataco_supply_chain"

connection_properties = {
    "user": "root",
    "password": "123",
    "driver": "com.mysql.cj.jdbc.Driver"
}
print("Server Connected")

Server Connected

### Save Top 10 Product Categories to MYSQL

In [0]:
top_10_product_categories.write.jdbc(
    url=jdbc_url,
    table="top_10_product_categories",
    mode="overwrite",
    properties=connection_properties
)
print("Top 10 Product Categories stored successfully!")

### Save Top 10 Frequent Customers to MYSQL

In [0]:
top_10_frequent_customers.write.jdbc(
    url=jdbc_url,
    table="top_10_frequent_customers",
    mode="overwrite",
    properties=connection_properties
)
print("Top 10 Frequent Customers stored successfully!")

### Save Delivery Performance Analysis to MYSQL

In [0]:
delivery_performance_analysis.write.jdbc(
    url=jdbc_url,
    table="delivery_performance_analysis",
    mode="overwrite",
    properties=connection_properties
)
print("Delivery Performance Analysis stored successfully!")